* {
    outline: none !important;
}

.width_auto {
    width: auto !important;
}

.margin_5px {
    margin: 5px !important;
}

.margin_right_5px {
    margin-right: 5px !important;
}

.border_lightgray {
    border: 1px solid #e5e5e5 !important;
}

.border_lightgray_nobottom {
    border: 1px solid #e5e5e5 !important;
    border-bottom: none !important;
}

.border_lightblue_nobottom {
    border: 1px solid #d1e0ee !important;
    border-bottom: none !important;
}

.page_white_background > section {
    background: white !important;
}

.shadow {
    border-radius: 10px;
    padding: 2rem;
    border: 1px solid #f2f2f2;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 3px 7px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}

.sapMFlexBoxScroll{
	min-width:100% !important;
}